@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.EmojiPickerReact {
  position: absolute !important;
  bottom: 3.5rem;
  left: 19.7rem;
  z-index: 10;
}

.EmojiPickerReact * {
  font-family: 'Space Grotesk', sans-serif !important;
}
